In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from six.moves import urllib
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
import mysql.connector as connection

In [43]:
download_dir = "./data/"
os.makedirs(download_dir , exist_ok=True)
download_url = "https://raw.githubusercontent.com/mohitmahiyt/CarPricePredictionDataset/main/cars_dataset.csv"
filename = os.path.basename(download_url)
print(filename)

download_file_path = os.path.join(download_dir,filename)
print(download_file_path)

urllib.request.urlretrieve(download_url,download_file_path)

cars_dataset.csv
./data/cars_dataset.csv

('./data/cars_dataset.csv', <http.client.HTTPMessage at 0x1e8347be460>)

In [44]:
df=pd.read_csv(r"./data/cars_dataset.csv")
df

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,1,Maruti Alto,Maruti,Alto,9,53800,Dealer,CNG,Manual,26.83,796,38.4,5,235000
1,2,Maruti Alto,Maruti,Alto,11,11000,Dealer,CNG,Manual,26.83,796,38.4,5,185000
2,3,Maruti Alto,Maruti,Alto,11,80000,Dealer,CNG,Manual,26.83,796,38.4,5,150000
3,4,Maruti Alto,Maruti,Alto,10,57000,Dealer,CNG,Manual,26.83,796,38.4,5,172000
4,5,Maruti Alto,Maruti,Alto,11,72000,Individual,CNG,Manual,26.83,796,38.4,5,125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,30016,Bentley Continental,Bentley,Continental,10,30000,Dealer,Petrol,Automatic,8.60,5998,552.0,4,8100000
15407,30017,Rolls-Royce Ghost,Rolls-Royce,Ghost,4,5000,Individual,Petrol,Automatic,10.20,6592,563.0,4,24200000
15408,30018,Bentley Continental,Bentley,Continental,9,37500,Dealer,Petrol,Automatic,6.00,5998,600.0,5,5200000
15409,30019,Ferrari GTC4Lusso,Ferrari,GTC4Lusso,2,3800,Dealer,Petrol,Automatic,4.00,3855,601.0,4,39500000
15410,30020,Bentley Continental,Bentley,Continental,9,9000,Dealer,Petrol,Automatic,9.50,5998,626.0,4,14500000

In [45]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,53800,Dealer,CNG,Manual,26.83,796,38.4,5,235000
1,Maruti Alto,Maruti,Alto,11,11000,Dealer,CNG,Manual,26.83,796,38.4,5,185000
2,Maruti Alto,Maruti,Alto,11,80000,Dealer,CNG,Manual,26.83,796,38.4,5,150000
3,Maruti Alto,Maruti,Alto,10,57000,Dealer,CNG,Manual,26.83,796,38.4,5,172000
4,Maruti Alto,Maruti,Alto,11,72000,Individual,CNG,Manual,26.83,796,38.4,5,125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,Bentley Continental,Bentley,Continental,10,30000,Dealer,Petrol,Automatic,8.60,5998,552.0,4,8100000
15407,Rolls-Royce Ghost,Rolls-Royce,Ghost,4,5000,Individual,Petrol,Automatic,10.20,6592,563.0,4,24200000
15408,Bentley Continental,Bentley,Continental,9,37500,Dealer,Petrol,Automatic,6.00,5998,600.0,5,5200000
15409,Ferrari GTC4Lusso,Ferrari,GTC4Lusso,2,3800,Dealer,Petrol,Automatic,4.00,3855,601.0,4,39500000
15410,Bentley Continental,Bentley,Continental,9,9000,Dealer,Petrol,Automatic,9.50,5998,626.0,4,14500000

In [46]:
try:
    conn = connection.connect(user='root',password='696969')
except Exception as e:
    print(e)
else:
    print('connected')
    print('database connected succesfully')
finally:
    conn.close()

connected
database connected succesfully

In [47]:
try:
    conn = connection.connect(user='root', password='696969')
    query="create database if not exists car_database;"
    cursor = conn.cursor()
    cursor.execute(query)
    conn.commit()
except Exception as e:
    print(e)
else:
    print('connected')
    print("database created successfully")
finally:
    conn.close()
try:
    conn = connection.connect(user='root', password='696969', database="car_database")
    query="""create table if not exists car_dataset(
car_name varchar(30),
brand varchar(30),
model varchar(30),
vehicle_age int,
km_driven int,
seller_type varchar(30),
fuel_type varchar(30),
transmission_type varchar(30),
mileage float,
engine int,
max_power float,
seats int,
selling_price bigint);"""

    cursor = conn.cursor()
    cursor.execute(query)
    conn.commit()
except Exception as e:
    print(e)
else:
    print('connected')
    print("table created successfully")
finally:
    conn.close()

connected
database created successfully
connected
table created successfully

In [48]:
try:
    conn = connection.connect(user='root', password='696969', database="car_database")
    query="""truncate car_dataset;"""
    cursor = conn.cursor()
    cursor.execute(query)
    conn.commit()

    query = f"""truncate car_dataset;"""
    cursor = conn.cursor()
    cursor.execute(query)        
    conn.commit()
    for key, value in df.iterrows():
        car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price = value[0],value[1], value[2], value[3], value[4],value[5] ,value[6],value[7] ,value[8] ,value[9] ,value[10] ,value[11] ,value[12] 
        
        query = f"""insert into car_dataset values ('{car_name}','{brand}', '{model}',{vehicle_age},{km_driven},'{seller_type}','{fuel_type}','{transmission_type}',{mileage},{engine},{max_power},{seats},{selling_price});"""
        cursor = conn.cursor()
        cursor.execute(query)
    conn.commit()

except Exception as e:
    print(e)
else:
    print('connected')
    print("table created successfully")
finally:
    conn.close()

connected
table created successfully

In [49]:
pd.Categorical(df['car_name'])

['Maruti Alto', 'Maruti Alto', 'Maruti Alto', 'Maruti Alto', 'Maruti Alto', ..., 'Bentley Continental', 'Rolls-Royce Ghost', 'Bentley Continental', 'Ferrari GTC4Lusso', 'Bentley Continental']
Length: 15411
Categories (121, object): ['Audi A4', 'Audi A6', 'Audi A8', 'Audi Q7', ..., 'Volvo S90', 'Volvo XC', 'Volvo XC60', 'Volvo XC90']

In [50]:
df.describe(include='object')

           car_name   brand  model seller_type fuel_type transmission_type
count         15411   15411  15411       15411     15411             15411
unique          121      32    120           3         5                 2
top     Hyundai i20  Maruti    i20      Dealer    Petrol            Manual
freq            906    4992    906        9539      7643             12225

# observations=>
- hyundai i20=> 906

EDA

In [59]:
# split numerical and categorical features

numerical_features =[feature for feature in df.columns if df[feature].dtype !='0']
categorical_features = [feature for feature in df.columns if df[feature].dtype !='0']
print(f"there are{len(numerical_features)}numerical features named:{numerical_features}")
print(f"there are{len(categorical_features)}categorical features named:{categorical_features}")

there are13numerical features named:['car_name', 'brand', 'model', 'vehicle_age', 'km_driven', 'seller_type', 'fuel_type', 'transmission_type', 'mileage', 'engine', 'max_power', 'seats', 'selling_price']
there are13categorical features named:['car_name', 'brand', 'model', 'vehicle_age', 'km_driven', 'seller_type', 'fuel_type', 'transmission_type', 'mileage', 'engine', 'max_power', 'seats', 'selling_price']

In [60]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,53800,Dealer,CNG,Manual,26.83,796,38.4,5,235000
1,Maruti Alto,Maruti,Alto,11,11000,Dealer,CNG,Manual,26.83,796,38.4,5,185000
2,Maruti Alto,Maruti,Alto,11,80000,Dealer,CNG,Manual,26.83,796,38.4,5,150000
3,Maruti Alto,Maruti,Alto,10,57000,Dealer,CNG,Manual,26.83,796,38.4,5,172000
4,Maruti Alto,Maruti,Alto,11,72000,Individual,CNG,Manual,26.83,796,38.4,5,125000

In [61]:
df.tail()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
15406,Bentley Continental,Bentley,Continental,10,30000,Dealer,Petrol,Automatic,8.6,5998,552.0,4,8100000
15407,Rolls-Royce Ghost,Rolls-Royce,Ghost,4,5000,Individual,Petrol,Automatic,10.2,6592,563.0,4,24200000
15408,Bentley Continental,Bentley,Continental,9,37500,Dealer,Petrol,Automatic,6.0,5998,600.0,5,5200000
15409,Ferrari GTC4Lusso,Ferrari,GTC4Lusso,2,3800,Dealer,Petrol,Automatic,4.0,3855,601.0,4,39500000
15410,Bentley Continental,Bentley,Continental,9,9000,Dealer,Petrol,Automatic,9.5,5998,626.0,4,14500000

In [62]:
df.shape

(15411, 13)

In [63]:
pd.Categorical(df['car_name'])

['Maruti Alto', 'Maruti Alto', 'Maruti Alto', 'Maruti Alto', 'Maruti Alto', ..., 'Bentley Continental', 'Rolls-Royce Ghost', 'Bentley Continental', 'Ferrari GTC4Lusso', 'Bentley Continental']
Length: 15411
Categories (121, object): ['Audi A4', 'Audi A6', 'Audi A8', 'Audi Q7', ..., 'Volvo S90', 'Volvo XC', 'Volvo XC60', 'Volvo XC90']

In [64]:
df.isnull().mean()

car_name             0.0
brand                0.0
model                0.0
vehicle_age          0.0
km_driven            0.0
seller_type          0.0
fuel_type            0.0
transmission_type    0.0
mileage              0.0
engine               0.0
max_power            0.0
seats                0.0
selling_price        0.0
dtype: float64

In [65]:
for col in categorical_features:
    print(df[col].value_counts(normalize=True))

car_name
Hyundai i20           0.058789
Maruti Swift Dzire    0.057751
Maruti Swift          0.050678
Maruti Alto           0.050483
Honda City            0.049121
                        ...
Maserati Ghibli       0.000065
Hyundai Aura          0.000065
Force Gurkha          0.000065
Isuzu MUX             0.000065
Ferrari GTC4Lusso     0.000065
Name: proportion, Length: 121, dtype: float64
brand
Maruti           0.323924
Hyundai          0.193498
Honda            0.096360
Mahindra         0.065602
Toyota           0.051457
Ford             0.051262
Volkswagen       0.040231
Renault          0.034780
BMW              0.028486
Tata             0.027902
Mercedes-Benz    0.021867
Skoda            0.021673
Audi             0.012459
Datsun           0.011031
Jaguar           0.003828
Land Rover       0.003309
Jeep             0.002660
Kia              0.002076
Porsche          0.001363
Volvo            0.001298
MG               0.001233
Mini             0.001103
Nissan           0.000714
Lexus            0.000649
Isuzu            0.000519
Bentley          0.000195
ISUZU            0.000130
Maserati         0.000130
Force            0.000065
Mercedes-AMG     0.000065
Rolls-Royce      0.000065
Ferrari          0.000065
Name: proportion, dtype: float64
model
i20            0.058789
Swift Dzire    0.057751
Swift          0.050678
Alto           0.050483
City           0.049121
                 ...
Altroz         0.000065
Ghibli         0.000065
Aura           0.000065
Gurkha         0.000065
GTC4Lusso      0.000065
Name: proportion, Length: 120, dtype: float64
vehicle_age
4     0.146129
5     0.137369
3     0.124976
6     0.124846
7     0.093310
8     0.083187
2     0.074298
9     0.066641
10    0.046071
11    0.035754
12    0.019012
13    0.015379
1     0.014340
14    0.008371
15    0.005840
16    0.001622
17    0.001103
18    0.000714
19    0.000324
0     0.000324
21    0.000195
29    0.000065
22    0.000065
25    0.000065
Name: proportion, dtype: float64
km_driven
50000    0.035883
40000    0.030952
70000    0.030238
60000    0.029135
30000    0.023555
           ...
14499    0.000065
8043     0.000065
23414    0.000065
20002    0.000065
47200    0.000065
Name: proportion, Length: 3688, dtype: float64
seller_type
Dealer              0.618973
Individual          0.369801
Trustmark Dealer    0.011226
Name: proportion, dtype: float64
fuel_type
Petrol      0.495944
Diesel      0.481409
CNG         0.019532
LPG         0.002855
Electric    0.000260
Name: proportion, dtype: float64
transmission_type
Manual       0.793265
Automatic    0.206735
Name: proportion, dtype: float64
mileage
18.90    0.041010
18.60    0.026215
17.00    0.021997
24.30    0.018948
28.40    0.018104
           ...
10.60    0.000065
18.57    0.000065
10.40    0.000065
14.12    0.000065
4.00     0.000065
Name: proportion, Length: 411, dtype: float64
engine
1197    0.158069
1248    0.108234
998     0.076179
1498    0.071053
2179    0.043411
          ...
2596    0.000065
2997    0.000065
1330    0.000065
2773    0.000065
3855    0.000065
Name: proportion, Length: 110, dtype: float64
max_power
74.00     0.051327
88.50     0.038219
81.80     0.035299
98.60     0.027513
67.04     0.025307
            ...
97.89     0.000065
98.00     0.000065
103.56    0.000065
201.00    0.000065
626.00    0.000065
Name: proportion, Length: 342, dtype: float64
seats
5    0.837713
7    0.124716
8    0.020180
6    0.008241
4    0.004996
9    0.003569
2    0.000454
0    0.000130
Name: proportion, dtype: float64
selling_price
450000      0.023165
550000      0.021673
650000      0.021413
350000      0.020764
500000      0.017585
              ...
45000       0.000065
1179000     0.000065
507000      0.000065
952000      0.000065
14500000    0.000065
Name: proportion, Length: 1086, dtype: float64

univariant Analysis =>

- the main purpose of univariant is to understand the distribution of a single variable/feature